/* navbar */
.navbar {
    height: 6rem;
    background-color: white;
}

.fa-compass {
    color: #ff385C;
    font-size: 3rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.navbar-brand-div {
    display: inline;
    font-size: 1.5rem;
    color: #ff385C;
    line-height: 3rem;
}

.nav-link {
    color: rgb(0, 0, 0) !important;
    font-weight: 500;
}

.navbar-collapse {
    background-color: white;
}